.flowra {
  //
  // Buttons
  //

  .btn:not(.no-padding) {
    padding: 0.9rem 2.5rem;

    &.extra-large {
      padding: 1.4rem 4.2rem;
      font-size: 1.45em;
      width: 400px;

      @include media-breakpoint-down(sm) {
        width: 400px;
      }

      @media(max-width: 440px) {
        width: calc(100% - 2em);
      }
    }
  }

  //
  // Navigation
  //

  .navbar {
    &.transparent {
      a.cta {
        visibility: hidden;
      }
    }
  }

  //
  // Hero
  //
  .ui-hero {
    & .heading {
      @include media-breakpoint-down(xxl) {
        font-size: 5.5rem;
      }

      @include media-breakpoint-down(lg) {
        font-size: 4rem;
      }

      @include media-breakpoint-down(md) {
        font-size: 6rem;
      }

      @include media-breakpoint-down(xs) {
        font-size: 4rem;
      }

      @media(max-width: 400px) {
        font-size: 3.5rem;
      }
    }

    & .paragraph {
      text-align: left;
      color: white;
      padding-left: 0;


      @include media-breakpoint-down(xxl) {
        font-size: 1.5rem;
      }

      @include media-breakpoint-down(sm) {
        font-size: 1.3rem;
        padding-left: 1em;
        padding-right: 1em;
      }

      @media(max-width: 400px) {
        font-size: 1.2rem;
      }

      @include media-breakpoint-up(lg) {
        max-width: 350px;
      }

      @include media-breakpoint-down(md) {
        max-width: 360px;
      }

      @include media-breakpoint-down(xs) {
        max-width: 300px;
      }

      li {
        margin-bottom: 1.5rem;
        list-style-type:none;
        padding-left: 1.85rem;

        &:before {
          font-family: 'FontAwesome';
          content: "\f00c";
          margin:0 0.65rem 0 -2rem;
          color: currentColor;
        }
      }
    }

    .actions {
      .btn {
        margin-right:0;
        margin-bottom: 1em;
      }
    }

    .laptop {
      margin-bottom: -100px;
    }

    @include media-breakpoint-down(md) {
      .laptop {
        width: calc(100% + 2em);
        margin-left: -1em;
        margin-right: -1em;
        margin-bottom: -60px;
      }
    }
  }

  .section {
    & .section-heading {
      & .heading {
        @include media-breakpoint-down(xxl) {
          font-size: 4rem;
        }

        @include media-breakpoint-down(lg) {
          font-size: 3rem;
        }

        @include media-breakpoint-down(xs) {
          font-size: 2rem;
        }

        &.flowtime {
          background: linear-gradient(to bottom right, #6666ff 0%, #ff66ff  80%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          @include media-breakpoint-down(xxl) {
            font-size: 9rem;
          }

          @include media-breakpoint-down(lg) {
            font-size: 8rem;
          }

          @include media-breakpoint-down(sm) {
            font-size: 5rem;
          }

          @media(max-width: 400px) {
            font-size: 4rem;
          }
        }
      }

      & .paragraph {
        &.flowtime {
          @include media-breakpoint-down(xxl) {
            font-size: 2rem;
          }

          @include media-breakpoint-down(lg) {
            font-size: 2rem;
          }

          @include media-breakpoint-down(sm) {
            font-size: 2rem;
          }
        }
      }
    }
  }

  //
  // Benefits
  //

  #benefits {
    .block {
      text-align: center;

      @include media-breakpoint-down(sm) {
        &:not(:last-of-type) {
          margin-bottom: 3em;
        }
      }
    }

    img.persona {
      width: 220px;
      height: 220px;
      line-height: 220px;
      border-radius: 100%;
      background-color: #FFF;
      box-shadow: 0 7px 15px rgba(0, 9, 128, 0.05), 0 12px 28px rgba(0, 9, 128, 0.075);
    }

    h2.benefit {
      @include font-semi-bold();
      margin-top: 0.8em;
      margin-bottom: 0.8em;
      font-size: 2.3rem;
      white-space: nowrap;
    }

    p {
      font-size: 1.3rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      box-sizing: border-box;
    }
  }

  //
  // Steps
  //

  #steps {
    .step-wrapper {
      @include media-breakpoint-up(md) {
        padding-top: 5rem;
        padding-bottom: 5rem;
      }

      @include media-breakpoint-down(sm) {
        img {
          margin-left: -15px;
        }
      }
    }
  }

  //
  // Pricing
  //

  #pricing {
    .card-body {
      li {
        color: #ccc;
        b {
          color: #333;
        }
      }
    }
  }

  //
  // Testimonials
  //

  #testimonials {
    .ui-testimonials {
      .item {
        .user {
          .avatar {
            width: 100px;
            height: 100px;
          }
        }
      }

      .ui-card {
        min-height: 147px;

        &:after {
          padding-left: 20px;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  //
  // Footer
  //

  footer {
    div.social {
      a {
        transform: scale(1.5);
        margin: 0 1rem;
      }
    }
  }
}